li{
    list-style:none;
}

a{
    text-decoration:none;
    color:white;
}

.iconosMenu{
    font-size: 2rem;
    color: aqua;
    margin-right: 10px;
}

.titulo {
    font-family: 'Abril Fatface', cursive;
}

#text-emp {
    color: back;
}

.tabla-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabla {
    margin: auto;
    width: 13cm;
    border-radius: 10px;
    border-collapse: separate;
    border-radius: 15px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 2px solid rgb(202, 172, 3);
    background: gold;
}

.cabeza-tabla {
    background: rgb(202, 172, 3);
    color: white;
    font-size: calc(1vw + 15px);
    text-align: center;
}

.tabla > thead {
    background: gold;
    text-align: center;
}

.tabla > tbody > tr {
    background: rgb(253, 237, 144);
    text-align: center;
}





.gv {
    margin: auto;
    width: 13cm;
    background: gold;
    margin-top: 1cm;
    margin-bottom: 1cm;
    border-radius: 5px;
}

.gv th {
    color:white;
    background: rgb(202, 172, 3);
    text-align: center;
    padding: 10px;
    border: 2px solid rgb(202, 172, 3);
    border-radius: 5px;
}


.gv td {
    background: rgb(253, 237, 144);
    text-align: center;
    border: 2px solid rgb(202, 172, 3);
    border-radius: 5px;
    padding: 5px;
}

.alternadas {
    background: rgb(253, 217, 144);
}

.pgr {
    border-radius: 5px;
    border: 0px solid rgb(202, 172, 3);
}

    .pgr table {
        background: rgb(202, 172, 3);
        
    }

    .pgr td {
        color: white;
        background: rgb(202, 172, 3);
        border-radius: 5px;
        border: 0px solid black;
    }

.pgr a {
    color: black;
    background: white;
    text-decoration: none;
    padding: 5px 10px;
    margin: 2px;
    border: 2px solid black;
    border-radius: 5px;
}

    .pgr a:hover {
        color: rgb(202, 172, 3);
        border: 4px solid rgb(202, 172, 3);
        margin: 0;
        box-shadow: 10px 10px 5px black;
    }





@media all and (max-width:992px) {
    #barra {
        background: linear-gradient(0deg, rgba(59,59,59,1) 0%, rgba(2,2,2,1) 100%);
    }
    #text-emp {
        color: white;
    }
}

@media all and (max-width:600px) {
    .tabla {
        width: 100%;
    }
}