li{
    list-style:none;
}
a{
    text-decoration:none;
    color:white;
}
.iconosMenu{
    font-size: 2rem;
    color: aqua;
    margin-right: 10px;
}

.titulo {
    font-family: 'Abril Fatface', cursive;
}

#text-emp {
    color: back;
}

@media all and (max-width:992px) {
    #barra {
        background: linear-gradient(0deg, rgba(59,59,59,1) 0%, rgba(2,2,2,1) 100%);
    }
    #text-emp {
        color: white;
    }
}

@media all and (max-width:600px) {
    .tabla {
        width: 100%;
    }
}