li{
    list-style:none;
}
a{
    text-decoration:none;
    color:white;
}
.iconosMenu{
    font-size: 2rem;
    color: aqua;
    margin-right: 10px;
}

.titulo {
    font-family: 'Abril Fatface', cursive;
}

.tabla-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabla {
    margin: auto;
    width: 13cm;
    border-radius: 10px;
    border-collapse: separate;
    border-radius: 15px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 2px solid rgb(109, 93, 1);
    background: gold;
}

.cabeza-tabla {
    background: rgb(202, 172, 3);
    color: white;
    font-size: calc(1vw + 15px);
    text-align: center;
}

.tabla > thead {
    background: gold;
    text-align: center;
}

.tabla > tbody > tr {
    background: rgb(253, 237, 144);
    text-align: center;
}
#text-emp {
    color: back;
}

@media all and (max-width:992px) {
    #barra {
        background: linear-gradient(0deg, rgba(59,59,59,1) 0%, rgba(2,2,2,1) 100%);
    }
    #text-emp {
        color: white;
    }
}

@media all and (max-width:600px) {
    .tabla {
        width: 100%;
    }
}